In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
train = pd.read_excel(r'C:\Users\ANKUSH\Desktop\AI ML\ML\Datasets\Data_Train.xlsx')

In [3]:
train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
test =pd.read_excel(r'C:\Users\ANKUSH\Desktop\AI ML\ML\Datasets\Test_Set.xlsx')
test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [5]:
print(type(train))
print(type(test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [6]:
final_df = pd.concat([train,test],axis=0)
final_df.tail()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [7]:
data = final_df.copy()

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [9]:
#DERIVE SOME FEATURES FROM DATE
data['Date'] = data['Date_of_Journey'].str.split('/').str[0]
data['Month'] = data['Date_of_Journey'].str.split('/').str[1]
data['Year'] = data['Date_of_Journey'].str.split('/').str[2]
# data['Date'] = data['Date'].apply(lambda x: x.split('/')[0])

In [10]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [11]:
data['Date'] = data['Date'].astype('int')
data['Month'] = data['Month'].astype('int')
data['Year'] = data['Year'].astype('int')

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(10)
memory usage: 1.4+ MB

In [13]:
data.drop('Date_of_Journey',axis=1,inplace=True)

In [14]:
data['Arrival_Time'] = data['Arrival_Time'].str.split(' ').str[0]
#data['Arrival_Time'].apply(lambda x: x.split(' ')[0])

In [15]:
data.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019

In [16]:
data['Arrival_hour'] = data['Arrival_Time'].str.split(':').str[0]
data['Arrival_minute'] = data['Arrival_Time'].str.split(':').str[1]

In [17]:
data.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10

In [18]:
data['Arrival_hour']= data['Arrival_hour'].astype(int)
data['Arrival_minute'] = data['Arrival_minute'].astype(int)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
 13  Arrival_hour     13354 non-null  int32
 14  Arrival_minute   13354 non-null  int32
dtypes: float64(1), int32(5), object(9)
memory usage: 1.4+ MB

In [20]:
data.drop('Arrival_Time',axis=1,inplace=True)

In [21]:
data.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10

In [22]:
data['Dep_hour'] = data['Dep_Time'].apply(lambda x: x.split(':')[0])
data['Dep_minute'] = data['Dep_Time'].apply(lambda x:x.split(':')[1])

In [23]:
data['Dep_hour']= data['Dep_hour'].astype(int)
data['Dep_minute'] = data['Dep_minute'].astype(int)

In [24]:
data.drop('Dep_Time',axis=1,inplace=True)

In [25]:
data.head(1)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20

In [26]:
data.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_hour          0
Arrival_minute        0
Dep_hour              0
Dep_minute            0
dtype: int64

In [27]:
data['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [28]:
#we will do mapping
data['Total_Stops'] = data['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [29]:
data.tail(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
2669,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1.0,No info,NaN,6,3,2019,19,15,4,0
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1.0,No info,NaN,15,6,2019,19,15,4,55

In [30]:
data.drop('Route',axis=1,inplace=True)

In [31]:
data['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [32]:
data['Duration_hr'] = data['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [33]:
data[data['Duration_hr']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,Duration_hr
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m

In [34]:
#removing 2 rows
data.drop(6474,axis=0,inplace=True)
data.drop(2660,axis=0,inplace=True)

In [35]:
data.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,Duration_hr
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,2
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,7
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,19
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50,4

In [36]:
data['Duration_hr'] = data['Duration_hr'].astype(int)

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13351 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Source           13351 non-null  object
 2   Destination      13351 non-null  object
 3   Duration         13351 non-null  object
 4   Total_Stops      13350 non-null  float64
 5   Additional_Info  13351 non-null  object
 6   Price            10681 non-null  float64
 7   Date             13351 non-null  int32
 8   Month            13351 non-null  int32
 9   Year             13351 non-null  int32
 10  Arrival_hour     13351 non-null  int32
 11  Arrival_minute   13351 non-null  int32
 12  Dep_hour         13351 non-null  int32
 13  Dep_minute       13351 non-null  int32
 14  Duration_hr      13351 non-null  int32
dtypes: float64(2), int32(8), object(5)
memory usage: 1.2+ MB

In [38]:
data['duration_min'] = data['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [39]:
data[data['duration_min']=='NaN']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_hour, Arrival_minute, Dep_hour, Dep_minute, Duration_hr, duration_min]
Index: []

In [40]:
data['duration_min'].unique()

array(['50', '25', nan, '45', '30', '5', '15', '35', '10', '20', '55',
       '40'], dtype=object)

In [41]:
data['duration_min'] = data['duration_min'].fillna(data['duration_min'].mode()[0])

In [42]:
data.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,Duration_hr,duration_min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,19,30
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50,4,45

In [43]:
data['duration_min'] = data['duration_min'].astype(int)

In [44]:
data.drop('Duration',axis=1,inplace=True)

In [45]:
data['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [46]:
from sklearn.preprocessing import OneHotEncoder

In [47]:
ohe = OneHotEncoder()

In [48]:
ohe.fit_transform(data[['Airline']])

<13351x12 sparse matrix of type '<class 'numpy.float64'>'
	with 13351 stored elements in Compressed Sparse Row format>

In [49]:
data = pd.get_dummies(data,columns=['Airline','Source','Destination','Additional_Info'],drop_first=True)

In [50]:
data.describe()

,Total_Stops,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,Duration_hr,duration_min
count,13350.000000,10681.000000,13351.000000,13351.000000,13351.0,13351.000000,13351.000000,13351.000000,13351.000000,13351.000000,13351.000000
mean,0.825768,9085.898979,13.390607,4.710733,2019.0,13.395776,24.658827,12.512995,24.502659,10.234964,31.230245
std,0.674478,4610.921950,8.439749,1.165511,0.0,6.896836,16.557178,5.736678,18.831696,8.473072,14.157668
min,0.000000,1759.000000,1.000000,3.000000,2019.0,0.000000,0.000000,0.000000,0.000000,1.000000,5.000000
25%,0.000000,5277.000000,6.000000,3.000000,2019.0,8.000000,10.000000,8.000000,5.000000,2.000000,20.000000
50%,1.000000,8372.000000,12.000000,5.000000,2019.0,14.000000,25.000000,11.000000,25.000000,8.000000,30.000000
75%,1.000000,12373.000000,21.000000,6.000000,2019.0,19.000000,35.000000,18.000000,40.000000,15.000000,45.000000
max,4.000000,79512.000000,27.000000,6.000000,2019.0,23.000000,55.000000,23.000000,55.000000,47.000000,55.000000

In [51]:
data['Price'].isnull().sum()

2670

In [52]:
data['Price'] = data['Price'].fillna(data['Price'].mean())

In [53]:
data.tail()

,Total_Stops,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,Duration_hr,...,Destination_New Delhi,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
2666,1.0,9085.898979,6,6,2019,20,25,20,30,23,...,False,False,False,False,False,False,False,False,True,False
2667,0.0,9085.898979,27,3,2019,16,55,14,20,2,...,False,False,False,False,False,False,False,False,True,False
2668,1.0,9085.898979,6,3,2019,4,25,21,50,6,...,False,False,False,False,False,False,False,False,True,False
2669,1.0,9085.898979,6,3,2019,19,15,4,0,15,...,False,False,False,False,False,False,False,False,True,False
2670,1.0,9085.898979,15,6,2019,19,15,4,55,14,...,False,False,False,False,False,False,False,False,True,False

In [54]:
data['Total_Stops'] = data['Total_Stops'].fillna(data['Total_Stops'].mode()[0])

In [55]:
data['Total_Stops'].isnull().sum()

0

In [56]:
data.shape

(13351, 40)

In [57]:
x = data.drop('Price',axis=1)
y = data['Price']
y

0        3897.000000
1        7662.000000
2       13882.000000
3        6218.000000
4       13302.000000
            ...
2666     9085.898979
2667     9085.898979
2668     9085.898979
2669     9085.898979
2670     9085.898979
Name: Price, Length: 13351, dtype: float64

In [58]:
from sklearn.preprocessing import StandardScaler

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,random_state=12)

In [61]:
sc = StandardScaler()

In [62]:
x_tr_sc = sc.fit_transform(x_train)
x_te_sc= sc.transform(x_test)

In [63]:
from sklearn.neighbors import KNeighborsRegressor

In [64]:
knn = KNeighborsRegressor()

In [65]:
knn.fit(x_tr_sc,y_train)

KNeighborsRegressor()

In [66]:
knn.score(x_tr_sc,y_train)

0.7471544560772743

In [67]:
y_pred5 = knn.predict(x_te_sc)

In [69]:
r2_score(y_pred5,y_test)

0.39123410411532644

In [74]:
params2 = [{'n_neighbors':[2,3,5,8,12,17,20,25],'weights': ['uniform','distance'],'p':[1,2,5]}]

In [75]:
grcv2 = GridSearchCV(knn,params2,verbose=1,cv=10,scoring='accuracy')

In [63]:
from sklearn.svm import SVR

In [64]:
svm = SVR()

In [65]:
svm.fit(x_tr_sc,y_train)

SVR()

In [66]:
svm.score(x_tr_sc,y_train)

0.0583547703232703

In [67]:
y_pred = svm.predict(x_te_sc)

In [68]:
from sklearn.metrics import r2_score

In [69]:
r2_score(y_pred,y_test)

-357.48760860078494

In [70]:
from sklearn.ensemble import RandomForestRegressor

In [71]:
rf = RandomForestRegressor()

In [72]:
rf.fit(x_tr_sc,y_train)

RandomForestRegressor()

In [73]:
rf.score(x_tr_sc,y_train)

0.9454124963543701

In [74]:
y_pred2 = rf.predict(x_te_sc)

In [75]:
r2_score(y_test,y_pred2)

0.6254551040759222

In [70]:
from sklearn.model_selection import GridSearchCV

In [77]:
params = ({'n_estimators':[20,40,100,150,200],'max_features':['sqrt','log2',None],'max_depth':[3,7,10,15],'max_leaf_nodes': [3, 6, 9]})

In [78]:
grv = GridSearchCV(estimator=rf,param_grid=params,cv=10,n_jobs=-1)

In [79]:
grv.fit(x_tr_sc,y_train)

GridSearchCV(cv=10, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [3, 7, 10, 15],
                         'max_features': ['sqrt', 'log2', None],
                         'max_leaf_nodes': [3, 6, 9],
                         'n_estimators': [20, 40, 100, 150, 200]})

In [81]:
y_pred3 = grv.predict(x_te_sc)
y_pred3

array([11440.95913123,  5903.34487354, 11440.95913123, ...,
       10098.95282292,  9763.59588036,  8475.61334558])

In [82]:
r2_score(y_test,y_pred3)

0.5241040385273479

In [87]:
pramgrid = {'C':[0.1,10,20,50,100,1000],'gamma':[1,0.1,0.01,0.001],'kernel':['rbf']}

In [88]:
grvs = GridSearchCV(svm,param_grid=pramgrid,refit=True,verbose=3)

In [89]:
grvs.fit(x_tr_sc,y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits
[CV 1/5] END .......C=0.1, gamma=1, kernel=rbf;, score=-0.000 total time=  14.3s
[CV 2/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.000 total time=  13.8s
[CV 3/5] END .......C=0.1, gamma=1, kernel=rbf;, score=-0.001 total time=  14.0s
[CV 4/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.000 total time=  14.0s
[CV 5/5] END .......C=0.1, gamma=1, kernel=rbf;, score=-0.000 total time=  14.3s
[CV 1/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.002 total time=  13.1s
[CV 2/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.002 total time=  12.5s
[CV 3/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.001 total time=  12.5s
[CV 4/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.002 total time=  12.5s
[CV 5/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.001 total time=  12.6s
[CV 1/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.004 total time=  13.5s
[CV 2/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.005 total time=  13.0s
[CV 3/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.004 total time=  12.9s
[CV 4/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.004 total time=  12.9s
[CV 5/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.003 total time=  12.9s
[CV 1/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.000 total time=  13.7s
[CV 2/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.001 total time=  13.0s
[CV 3/5] END ...C=0.1, gamma=0.001, kernel=rbf;, score=-0.000 total time=  12.8s
[CV 4/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.001 total time=  12.5s
[CV 5/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.000 total time=  15.6s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.006 total time=14.1min
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.008 total time=  14.4s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.007 total time=  14.8s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.008 total time=  14.6s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.006 total time=  14.4s
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.134 total time=  13.3s
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.172 total time=  12.7s
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.159 total time=  13.2s
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.151 total time=  12.0s
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.126 total time=  11.3s
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.222 total time=  11.5s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.275 total time=  11.1s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.254 total time=  11.8s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.239 total time=  11.9s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.203 total time=  11.9s
[CV 1/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.054 total time=  12.3s
[CV 2/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.067 total time=  14.1s
[CV 3/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.063 total time=  13.9s
[CV 4/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.058 total time=  12.6s
[CV 5/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.050 total time=  12.3s
[CV 1/5] END .........C=20, gamma=1, kernel=rbf;, score=0.013 total time=  13.8s
[CV 2/5] END .........C=20, gamma=1, kernel=rbf;, score=0.017 total time=  15.2s
[CV 3/5] END .........C=20, gamma=1, kernel=rbf;, score=0.015 total time=  15.0s
[CV 4/5] END .........C=20, gamma=1, kernel=rbf;, score=0.015 total time=  15.9s
[CV 5/5] END .........C=20, gamma=1, kernel=rbf;, score=0.012 total time=  15.3s
[CV 1/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.218 total time=  14.0s
[CV 2/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.280 total time=  13.6s
[CV 3/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.256 total time=  13.9s
[CV 4/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.244 total time=  13.5s
[CV 5/5] END .......C=20, gamma=0.1, kernel=rbf;, score=0.204 total time=  13.7s
[CV 1/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.300 total time=  14.6s
[CV 2/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.364 total time=  15.7s
[CV 3/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.334 total time=  14.5s
[CV 4/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.319 total time=  14.0s
[CV 5/5] END ......C=20, gamma=0.01, kernel=rbf;, score=0.269 total time=  15.3s
[CV 1/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.101 total time=  14.2s
[CV 2/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.123 total time=  13.8s
[CV 3/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.118 total time=  13.8s
[CV 4/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.109 total time=  14.1s
[CV 5/5] END .....C=20, gamma=0.001, kernel=rbf;, score=0.094 total time=  14.4s
[CV 1/5] END .........C=50, gamma=1, kernel=rbf;, score=0.031 total time=  15.5s
[CV 2/5] END .........C=50, gamma=1, kernel=rbf;, score=0.041 total time=  15.3s
[CV 3/5] END .........C=50, gamma=1, kernel=rbf;, score=0.038 total time=  15.0s
[CV 4/5] END .........C=50, gamma=1, kernel=rbf;, score=0.037 total time=  15.6s
[CV 5/5] END .........C=50, gamma=1, kernel=rbf;, score=0.030 total time=  15.6s
[CV 1/5] END .......C=50, gamma=0.1, kernel=rbf;, score=0.341 total time=  14.1s
[CV 2/5] END .......C=50, gamma=0.1, kernel=rbf;, score=0.424 total time=  13.7s
[CV 3/5] END .......C=50, gamma=0.1, kernel=rbf;, score=0.384 total time=  13.9s
[CV 4/5] END .......C=50, gamma=0.1, kernel=rbf;, score=0.372 total time=  14.5s
[CV 5/5] END .......C=50, gamma=0.1, kernel=rbf;, score=0.308 total time=  14.2s
[CV 1/5] END ......C=50, gamma=0.01, kernel=rbf;, score=0.385 total time=  15.2s
[CV 2/5] END ......C=50, gamma=0.01, kernel=rbf;, score=0.447 total time=  14.2s
[CV 3/5] END ......C=50, gamma=0.01, kernel=rbf;, score=0.407 total time=  13.1s
[CV 4/5] END ......C=50, gamma=0.01, kernel=rbf;, score=0.403 total time=  13.1s
[CV 5/5] END ......C=50, gamma=0.01, kernel=rbf;, score=0.333 total time=  13.3s
[CV 1/5] END .....C=50, gamma=0.001, kernel=rbf;, score=0.192 total time=  16.2s
[CV 2/5] END .....C=50, gamma=0.001, kernel=rbf;, score=0.237 total time=  15.4s
[CV 3/5] END .....C=50, gamma=0.001, kernel=rbf;, score=0.224 total time=  14.1s
[CV 4/5] END .....C=50, gamma=0.001, kernel=rbf;, score=0.210 total time=  14.5s
[CV 5/5] END .....C=50, gamma=0.001, kernel=rbf;, score=0.180 total time=  14.8s
[CV 1/5] END ........C=100, gamma=1, kernel=rbf;, score=0.059 total time=  14.3s
[CV 2/5] END ........C=100, gamma=1, kernel=rbf;, score=0.079 total time=  14.5s
[CV 3/5] END ........C=100, gamma=1, kernel=rbf;, score=0.073 total time=  14.2s
[CV 4/5] END ........C=100, gamma=1, kernel=rbf;, score=0.071 total time=  14.6s
[CV 5/5] END ........C=100, gamma=1, kernel=rbf;, score=0.058 total time=  14.1s
[CV 1/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.417 total time=  12.5s
[CV 2/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.493 total time=  12.8s
[CV 3/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.452 total time=  13.1s
[CV 4/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.442 total time=  13.5s
[CV 5/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.364 total time=  12.8s
[CV 1/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.430 total time=  17.2s
[CV 2/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.485 total time=  16.9s
[CV 3/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.441 total time=  14.6s
[CV 4/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.446 total time=  14.6s
[CV 5/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.367 total time=  14.6s
[CV 1/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.268 total time=  13.3s
[CV 2/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.328 total time=   9.4s
[CV 3/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.309 total time=   9.4s
[CV 4/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.290 total time=   8.8s
[CV 5/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.252 total time=  10.0s
[CV 1/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.309 total time=  11.8s
[CV 2/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.405 total time=  10.6s
[CV 3/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.375 total time=   9.8s
[CV 4/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.373 total time=  11.5s
[CV 5/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.302 total time=  11.5s
[CV 1/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.548 total time=  10.2s
[CV 2/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.590 total time=  10.1s
[CV 3/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.535 total time=  10.0s
[CV 4/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.555 total time=  10.0s
[CV 5/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.467 total time=   9.9s
[CV 1/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.507 total time=   9.2s
[CV 2/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.546 total time=   9.0s
[CV 3/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.510 total time=   9.0s
[CV 4/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.526 total time=  12.1s
[CV 5/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.440 total time=   7.7s
[CV 1/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.434 total time=   7.8s
[CV 2/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.485 total time=   7.9s
[CV 3/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.461 total time=   6.6s
[CV 4/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.469 total time=   7.1s
[CV 5/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.393 total time=   6.9s

GridSearchCV(estimator=SVR(),
             param_grid={'C': [0.1, 10, 20, 50, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001], 'kernel': ['rbf']},
             verbose=3)

In [90]:
y_pred4 = grvs.predict(x_te_sc)

In [91]:
grvs.best_params_

{'C': 1000, 'gamma': 0.1, 'kernel': 'rbf'}

In [92]:
grvs.best_score_

0.5391039483277078

In [93]:
r2_score(y_test,y_pred4)

0.5666153466965708